{% load static %}

<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Golf Online Judge</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <script src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
    integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
    integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

  {% block head %}{% endblock %}
</head>

<body>
  {% block startbody %}{% endblock %}
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="margin-bottom: 20px; font-size: 17px;">
    <div class="container">
      <a class="navbar-brand" href="/">
        <img src="{% static 'mainApp/logo2.png' %}" style="max-height: 50px;" alt="" />
      </a>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler"
        aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarToggler">
        <ul class="nav navbar-nav mr-auto">
          <li class="nav-item ml-lg-3">
            <a class="nav-link" href="{% url 'mainApp:problems' current_page=1 %}">문제</a>
          </li>
          <li class="nav-item ml-lg-3">
            <a class="nav-link" href="{% url 'mainApp:problem-status-all' current_page=1 %}">채점 현황</a>
          </li>
          <li class="nav-item ml-lg-3">
            <a class="nav-link" href="/">랭킹</a>
          </li>
          <li class="nav-item ml-lg-3">
            <a class="nav-link" href="/">게시판</a>
          </li>
        </ul>

        <form>
          <div class="input-group">
            <input class="form-control" type="search" placeholder="검색">
            <div class="input-group-append">
              <button class="btn btn-success" type="button"><i class="fas fa-search"></i></button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </nav>

  <div class="container" style="max-height: 999999px;">

    <div>
      {% if request.user.is_authenticated %}
      User :
      <strong>
        {{ request.user }}
      </strong>
      {% else %}
        로그인 후 문제를 풀 수 있습니다.
      {% endif %}

      {% if not request.user.is_authenticated %}
      <a href="{% url 'login' %}" class="btn btn-outline-info" role="button" style="margin-left: 10px;">로그인</a>
      {% else %}
      <a href="{% url 'logout' %}" class="btn btn-outline-info" role="button" style="margin-left: 10px;">로그아웃</a>
      {% endif %}
    </div>

    <hr />

    {% block content %}{% endblock %}
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
  </script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
  </script>

  {% if messages %}
  <script>
    // {% for message in messages %}
    alert("{{ message }}");
    // {% endfor %}
  </script>
  {% endif %}
  {% block endbody %}{% endblock %}
</body>

</html>
