{% extends "mainApp/base.html" %}
{% load static %}

{% block content %}
<div>
  <h1 style="text-align: center; margin-bottom: 25px;">Golf Online Judge</h1>
  <p style="text-indent: 1em;">
    Golf Online Judge(GOJ)는 프로그래밍 문제를 풀고, 온라인에서 자동으로 채점해주는 시스템입니다.
    GOJ는 짧은 코드로 각종 프로그래밍 문제를 해결하는 Code Golfer(a.k.a. Short Coder)가 되는 것을 목표로 합니다. 이를 위해 랭킹 기능을 추가하였고, 랭킹을 산정할 때 코드의 길이를 핵심 요소로 보게 됩니다.
    GOJ는 취미 목적으로 진행하는 프로젝트이며 <a href="https://github.com/njw1204/golf-online-judge" target="_blank">github</a>에서 개발 중입니다.
    많은 응원 부탁드립니다.
  </p>
  <blockquote>
    GOJ에서 최고의 Code Golfer가 되어보세요!
    <footer class="blockquote-footer">
      njw1204 (admin)
    </footer>
  </blockquote>
</div>
{% endblock %}
