{% extends "mainApp/base.html" %}

{% block head %}
  <link href="https://fonts.googleapis.com/css?family=Roboto|Source+Code+Pro&subset=korean" rel="stylesheet">

  <style>
    .dimmed {
      display: none;
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: black;
      opacity: 0.5;
      z-index: 10;
    }
    div.codeblock {
      display: none;
      position: absolute;
      width: 500px;
      max-width: 80vw;
      height: 430px;
      max-height: 80vh;
      background-color: #cccccc;
      z-index: 20;
    }
    span.codeblock-title {
      position: absolute;
      font-size: 14px;
      top: 15px;
      left: 5px;
      transform: translate(0%, -50%);
      font-weight: bold;
    }
    button.codeblock-close {
      position: absolute;
      left: 100%;
      width: 30px;
      height: 30px;
      transform: translate(-100%, 0);
      border-radius: 0;
      z-index: 1;
    }
    textarea.codearea {
      position: relative;
      top: 30px;
      width: 100%;
      height: 100%;
      margin: 1px;
      font-family: 'Source Code Pro', sans-serif;
      font-size: 14px;
      resize: none;
    }
  </style>

  <script>
    $(function() {
      jQuery.fn.center = function () {
        this.css("position", "absolute");
        this.css("top", Math.max(0, (($(window).height() - $(this).outerHeight()) / 2) +
          $(window).scrollTop()) + "px");
        this.css("left", Math.max(0, (($(window).width() - $(this).outerWidth()) / 2) +
          $(window).scrollLeft()) + "px");
        return this;
      }

      $("div.codeblock").draggable();

      $("button.codeblock-close").click(closeCodeBlock);

      $("a.view-code").click(function() {
        var pk = $(this).attr("data-pk");
        var body = $(this).attr("data-body");
        $("div.codeblock").center();
        $("div.dimmed").fadeIn(300);
        $("div.codeblock").fadeIn(300);
        $("textarea.codearea").val(body);
        $("span.codeblock-title").text("소스 코드 " + pk);
      });

      $("div.dimmed").click(function() {
        closeCodeBlock();
      })

      $(".reload-icon").hover(function() {
        $(this).addClass("fa-spin");
      }, function() {
        $(this).removeClass("fa-spin");
      })

      function closeCodeBlock() {
        $("div.dimmed").fadeOut(300);
        $("div.codeblock").fadeOut(300);
      }
    });
  </script>
{% endblock %}

{% block startbody %}
  <div class="dimmed"></div>
{% endblock %}

{% block content %}
<div>
  <h4 class="mt-1">
    {{ heading }}&nbsp;
    <a href="javascript: location.reload(true);" data-placement="bottom" data-toggle="tooltip" title="새로고침">
      <i class="fas fa-sync-alt reload-icon"></i>
    </a>
  </h4>
  <br/>

  <div class="table-responsive" style="white-space: nowrap;">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">채점 번호</th>
          <th scope="col">아이디</th>
          <th scope="col">문제 번호</th>
          <th scope="col">언어</th>
          <th scope="col">코드 길이</th>
          <th scope="col">제출 시간</th>
          <th scope="col">채점 결과</th>
          <th scope="col">코드 보기</th>
        </tr>
      </thead>
      <tbody>
        {% for submit in submits %}
        <tr>
          <td scope="row">{{ submit.pk|stringformat:"06d" }}</td>
          <td>{{ submit.user_pk }}</td>
          <td>
            <a href="{% url 'mainApp:problem' pk=submit.problem_pk.pk %}">
              #{{ submit.problem_pk.pk }}
            </a>
          </td>
          <td>
            {{ submit.get_lang_display }}
          </td>
          <td>
            {{ submit.body|length }} Bytes
          </td>
          <td>
            {{ submit.created_date|date:"Y-m-d H:i:s" }}
          </td>
          <td style="font-family: 'Roboto', sans-serif; letter-spacing: 1px;">
            {% if submit.result == 1 %}
              <span class="badge badge-success" data-toggle="tooltip" title="맞았습니다">OK</span>
            {% elif submit.result == 2 %}
              <span class="badge badge-danger" data-toggle="tooltip" title="틀렸습니다">FAIL</span>
            {% else %}
              <span class="badge badge-secondary" data-toggle="tooltip" title="채점 대기중">WAIT</span>
            {% endif %}
          </td>
          <td>
            <a class="view-code" href="javascript: void(0);" data-pk="{{ submit.pk|stringformat:'06d' }}" data-body="{{ submit.body }}">
              <i class="fas fa-external-link-alt mr-1"></i>View
            </a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

  <div style="font-size: 18px;">
    {% for i in pages %}
      <!-- page a tag start -->
      <a
      {% if single_mode %}
        href="{% url 'mainApp:problem-status' problem_pk=problem_pk current_page=i %}" role="button"
      {% else %}
        href="{% url 'mainApp:problem-status-all' current_page=i %}" role="button"
      {% endif %}

      {% if i == current_page %}
        class="btn btn-primary btn-sm" style="margin-left: 3px; font-weight: bold;">
      {% else %}
        class="btn btn-outline-primary btn-sm" style="margin-left: 3px;">
      {% endif %}

      {{ i }}
    </a>
    {% endfor %}
  </div>

  <div class="codeblock">
    <span class="codeblock-title"></span>
    <button class="btn btn-sm btn-danger codeblock-close" type="button"><i class="fas fa-times"></i></button>
    <div style="clear: both;"></div>
    <textarea class="codearea"></textarea>
  </div>
</div>
{% endblock %}
