{% extends "mainApp/base.html" %}

{% block content %}
<div>
  <div style="margin-bottom: 10px;">
    <div>
      <h4 class="mb-3 pt-1" style="float: left;">#{{ pk }} - {{ problem.title }}</h4>

      <div class="mb-3" style="float: right;">
        <button class="btn btn-primary">랭킹</button>
        <button class="btn btn-info">채점 현황</button>
        <a href="{% url 'mainApp:problem-submit' problem_pk=pk %}" class="btn btn-success" role="button">코드 제출</a>
      </div>

      <div style="clear: both;"></div>
    </div>

    <div class="mb-5" style="font-size: 14px; overflow-x: auto; white-space: nowrap;">
      <table class="table table-sm">
        <thead>
          <tr>
            <th style="width: 16%">시간 제한</th>
            <th style="width: 16%">메모리 제한</th>
            <th style="width: 17%">길이 제한</th>
            <th style="width: 17%">제출</th>
            <th style="width: 17%">정답</th>
            <th style="width: 17%">맞은 사람</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{ problem.time_limit }} 초</td>
            <td>128 MB</td>
            <td>100 Bytes</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
          </tr>
        </tbody>
      </table>
    </div>

  </div>

  <div>
    <div class="card border-secondary" style="margin-bottom: 20px;">
      <div class="card-header">
        <strong>문제</strong>
      </div>
      <div class="card-body">
        <p class="card-text">
          {{ problem.body|linebreaksbr }}
        </p>
      </div>
    </div>

    <div class="card border-secondary" style="margin-bottom: 20px;">
      <div class="card-header">
        <strong>입력</strong>
      </div>
      <div class="card-body">
        <p class="card-text">
          {{ problem.input_explain|linebreaksbr }}
        </p>
      </div>
    </div>

    <div class="card border-secondary" style="margin-bottom: 20px;">
      <div class="card-header">
        <strong>출력</strong>
      </div>
      <div class="card-body">
        <p class="card-text">
          {{ problem.output_explain|linebreaksbr }}
        </p>
      </div>
    </div>

    <div class="row">

      <div class="col-lg-6">
        <div class="card border-secondary" style="margin-bottom: 20px;">
          <div class="card-header">
            <strong>예제 입력</strong>
          </div>
          <div class="card-body">
            <p class="card-text" style="font-family: 'Source Code Pro', monospace; font-size: 18px; min-height: 27px;">
              {{ problem.example_in|linebreaksbr }}
            </p>
          </div>
        </div>
      </div>

      <div class="col-lg-6">
        <div class="card border-secondary" style="margin-bottom: 20px;">
          <div class="card-header">
            <strong>예제 출력</strong>
          </div>
          <div class="card-body">
            <p class="card-text" style="font-family: 'Source Code Pro', monospace; font-size: 18px; min-height: 27px;">
              {{ problem.example_out|linebreaksbr }}
            </p>
          </div>
        </div>
      </div>

    </div>

  </div>
</div>

<blockquote>
  <footer class="blockquote-footer">Written by njw1204, {{ problem.created_date|date:"Y-m-d" }}.</footer>
</blockquote>

<div id="disqus_thread" style="margin-top: 30px;">
  {% load disqus_tags %}
  {% set_disqus_url full_absolute_url %}
  {% disqus_show_comments %}
</div>
{% endblock %}
