{% extends "mainApp/base.html" %}

{% block content %}
<h3>문제 입니다.</h3>
<div>
  <div>
    <h2>{{ problem.title }}</h2>
  </div>

  <div>
    시간 제한 : {{ problem.time_limit }}초 / 생성일 : {{ problem.created_date|date:"Y-m-d" }}
  </div>

  <hr/>

  <div>
    <strong>문제</strong>
    <p>
        {{ problem.body|linebreaksbr }}
    </p>
    <strong>입력</strong>
    <p>
        {{ problem.input_explain|linebreaksbr }}
    </p>
    <strong>출력</strong>
    <p>
        {{ problem.output_explain|linebreaksbr }}
    </p>
    <strong>예제 입력</strong>
    <p>
        {{ problem.example_in|linebreaksbr }}
    </p>
    <strong>예제 출력</strong>
    <p>
        {{ problem.example_out|linebreaksbr }}
    </p>
  </div>
</div>
{% endblock %}
