{% extends "mainApp/base.html" %}

{% block content %}
<div>
  <h4 class="mt-1" style="float: left;">문제 목록</h4>
  <div style="float: right; margin: 0 0 15px 3px;">
    <a href="{% url 'mainApp:problem-make' %}" class="btn btn-success" role="button" data-toggle="tooltip" title="GOJ의 문제를 만들어주세요!"><i
        class="fas fa-pen mr-1"></i>문제 만들기</a>
  </div>
  <div style="clear: both;"></div>

  <table class="table table-hover table-bordered">
    <thead class="thead-light">
      <tr>
        <th scope="col" style="width: 60px;">#</th>
        <th scope="col">이름</th>
      </tr>
    </thead>
    <tbody>
      {% for problem in problems %}
      <tr>
        <th>{{ problem.id }}</th>
        <td>
          <a href="{% url 'mainApp:problem' pk=problem.id %}">
            {{ problem.title }}
          </a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  <hr/>

  <div style="font-size: 18px;">
    {% for i in pages %}
      {% if i == current_page %}
        <a class="btn btn-primary btn-sm" href="{% url 'mainApp:problems' current_page=i %}" style="margin: 0 0 10px 3px; font-weight: bold;" role="button">
      {% else %}
        <a class="btn btn-outline-primary btn-sm" href="{% url 'mainApp:problems' current_page=i %}" style="margin: 0 0 10px 3px;" role="button">
      {% endif %}
      {{ i }}
    </a>
    {% endfor %}
  </div>
</div>
{% endblock %}
