{% extends "mainApp/base.html" %}

{% block content %}
<div>
  <table class="table table-hover table-bordered">
    <thead class="thead-light">
      <tr>
        <th scope="col" style="width: 60px;">#</th>
        <th scope="col">문제 이름</th>
      </tr>
    </thead>
    <tbody>
      {% for problem in problems %}
      <tr>
        <td>{{ problem.id }}</td>
        <td>
          <a href="{% url 'mainApp:problem' pk=problem.id %}">
            {{ problem.title }}
          </a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  <hr/>

  <div style="font-size: 17px;">
    Pages :
    {% for i in pages %}
    <a href="{% url 'mainApp:problems' current_page=i %}" style="color: black; text-decoration: none; margin: 2px;">
      {% if i == current_page %}
      <span style="color: green; font-weight: bold; text-decoration: underline;">{{ i }}</span>
      {% else %}
      {{ i }}
      {% endif %}
    </a>
    {% endfor %}
  </div>
</div>
{% endblock %}
