{% extends "mainApp/base.html" %}

{% block content %}
<div>
  <div style="margin-bottom: 10px;">
    <div>
      <h2>{{ problem.title }}</h2>
    </div>

    <div style="overflow: hidden;">
      <div>
        <div style="height: 14px;">
          <span style="font-size: 14px; line-height: 14px; vertical-align: middle;">
            시간 제한 : {{ problem.time_limit }}초 / 생성일 : {{ problem.created_date|date:"Y-m-d" }}
          </span>
          <div style="float: right;">
            <button class="btn btn-primary">랭킹</button>
            <button class="btn btn-primary">제출 내역</button>
            <button class="btn btn-success">소스 제출</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div></button>
    <div class="card border-secondary" style="margin-bottom: 20px;">
      <div class="card-header">
        <strong>문제</strong>
      </div>
      <div class="card-body">
        <p class="card-text">
          {{ problem.body|linebreaksbr }}
        </p>
      </div>
    </div>

    <div class="card border-secondary" style="margin-bottom: 20px;">
      <div class="card-header">
        <strong>입력</strong>
      </div>
      <div class="card-body">
        <p class="card-text">
          {{ problem.input_explain|linebreaksbr }}
        </p>
      </div>
    </div>

    <div class="card border-secondary" style="margin-bottom: 20px;">
      <div class="card-header">
        <strong>출력</strong>
      </div>
      <div class="card-body">
        <p class="card-text">
          {{ problem.output_explain|linebreaksbr }}
        </p>
      </div>
    </div>

    <div class="row">

      <div class="col-lg-6">
        <div class="card border-secondary" style="margin-bottom: 20px;">
          <div class="card-header">
            <strong>예제 입력</strong>
          </div>
          <div class="card-body">
            <p class="card-text" style="font-family: 'Source Code Pro', monospace; font-size: 18px; min-height: 27px;">
                {{ problem.example_in|linebreaksbr }}
            </p>
          </div>
        </div>
      </div>

      <div class="col-lg-6">
        <div class="card border-secondary" style="margin-bottom: 20px;">
          <div class="card-header">
            <strong>예제 출력</strong>
          </div>
          <div class="card-body">
            <p class="card-text" style="font-family: 'Source Code Pro', monospace; font-size: 18px; min-height: 27px;">
                {{ problem.example_out|linebreaksbr }}
            </p>
          </div>
        </div>
      </div>

    </div>

  </div>
</div>

<div id="disqus_thread" style="margin-top: 30px;">
  {% load disqus_tags %}
  {% set_disqus_url full_absolute_url %}
  {% disqus_show_comments %}
</div>
{% endblock %}
